<h1>NutriApp🍉</h1>
<input
  type="text"
  [(ngModel)]="searchInputValue"
  placeholder="Digite um Alimento"
  (keyup.enter)="getData()"
/>
<button (click)="getData()">Buscar</button>
<div class="loading-spinner" *ngIf="isLoading"></div>
<div *ngIf="searchedFood.length > 0">
  <h3>Resultados:</h3>
  <ul *ngFor="let food of searchedFood">
    <li>
      <button (click)="addToDailyMeal(food)">+</button
      ><strong>{{ capitalizeFirstLetter(food.name) }}</strong
      >:
      <ul>
        <li *ngFor="let key of getObjectKeys(food)">
          {{ key }}: {{ food[key] }}
        </li>
      </ul>
    </li>
  </ul>
</div>

<div *ngIf="dailyMeal.length > 0">
  <h3>Sua Refeição:</h3>
  <input type="text" placeholder="Nomeie sua Refeição" [(ngModel)]="mealName" />
  <button (click)="saveMeal()">Salvar</button>
  <button (click)="dailyMeal = []">Limpar</button>
  <ul *ngFor="let food of dailyMeal">
    <li>
      <button (click)="removeFromDailyMeal(food.name)">X</button
      ><strong
        >{{ food.serving_size_g }}g
        {{ capitalizeFirstLetter(food.name) }}</strong
      >
    </li>
  </ul>
  <h3>Nutrientes:</h3>
  <ul>
    <li *ngFor="let key of getObjectKeys(dailyMealMacros())">
      {{ key }}: {{ dailyMealMacros()[key] }}
    </li>
  </ul>
</div>

<div *ngIf="savedMeals.length > 0">
  <h3>Refeições Salvas</h3>
  <ul *ngFor="let meal of savedMeals">
    <strong
      ><h4>{{ meal.name }}</h4></strong
    >
    <li *ngFor="let food of meal.foods">
      <strong
        >{{ food.serving_size_g }}g
        {{ capitalizeFirstLetter(food.name) }}</strong
      >
    </li>
    <strong><h4>Nutrientes</h4></strong>
    <li *ngFor="let key of getObjectKeys(meal.macros)">
      {{ key }}: {{ meal.macros[key] }}
    </li>
  </ul>
</div>
